<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wsy.ahp">
    <!-- 需要GL ES 3.0或者更高版本 -->
    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true" />
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--允许获取wifi状态改变，用于网络定位，若无gps但仍需实现定位小蓝点功能则此权限必选-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--精确定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <!-- 允许sd卡写权限，需写入地图数据，禁用后无法显示地图 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" /> <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <!--允许写设备缓存，用于问题排查-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <!--允许读设备等信息，用于问题排查-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:name=".HiApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/knowledge"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/knowledge"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:versionCode="@integer/version_code"
        android:versionName="@string/app_version"
        tools:targetApi="31">
        <activity
            android:name=".activity.map.MapActivity"
            android:exported="false" />


        <activity
            android:name=".activity.LaunchActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NativeLoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RelativeLayoutBrotherActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RelativeLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.animation.AnimationActivity"
            android:exported="false" />
        <activity
            android:name=".route.DegradeGlobalActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.threed.PanoramaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.threed.GlLineActivity"
            android:exported="false" />
        <activity
            android:name=".activity.threed.GlGlobeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.OnClickActivity"
            android:exported="false" />
        <activity
            android:name=".activity.banner.HiBannerDemoActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <!-- 配置Launcher应用 -->
                <!-- <category android:name="android.intent.category.HOME" /> -->
                <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".activity.HiTabTopDemoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HiRefreshDemoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.GreetingActivity"
            android:exported="false" />

        <provider
            android:name="com.wsy.common.utils.InstallFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/install_file" />
        </provider>


        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="9c148f8468103684443ae5bc7bbc40d0" />
        <!-- 配置定位 Service -->
        <service android:name="com.amap.api.location.APSService"/>
    </application>

</manifest>